# Machine Learning Module

The objective of this module is to proceed to a Machine Learning experiment.

In order to run this notebook, you must have executed the *Extraction* and *Input* notebooks first.

The following CSV files are required for this notebook:

- In the *csv/original_data* folder:
    - *patients.csv*
- In the *csv/static* folder (generated by the Input notebook):
    - *holdout_time_point_1.csv*
    - *holdout_time_point_2.csv*
    - *holdout_time_point_3.csv*
    - *holdout_time_point_4.csv*
    - *pred_holdout.csv*
    - *pred_train.csv*
    - *train_time_point_1.csv*
    - *train_time_point_2.csv*
    - *train_time_point_3.csv*
    - *train_time_point_4.csv*

In [1]:
# Imports
import os

import pandas as pd
from pycaret.classification import ClassificationExperiment
from sklearn.model_selection import StratifiedGroupKFold

os.chdir('../src')
import machine_learning

## Get data (from original and static CSV files)

In [2]:
# Set the working directory
os.chdir('../csv')

In [3]:
# Read train CSV data from static
df_train_time_point_1 = pd.read_csv('static/train_time_point_1.csv')
df_train_time_point_2 = pd.read_csv('static/train_time_point_2.csv')
#df_train_time_point_3 = pd.read_csv('static/train_time_point_3.csv')
df_train_time_point_4 = pd.read_csv('static/train_time_point_4.csv')
df_target_train = pd.read_csv('static/pred_train.csv')

## Prepare experiment data

In [4]:
# Create experimental dataframe
df_experimental = pd.merge(df_train_time_point_1, df_train_time_point_2, how='outer', on=['PatientID', 'Date'])
#df_experimental = df_experimental.merge(df_train_time_point_3, how='outer', on=['PatientID', 'Date'])
df_experimental = df_experimental.merge(df_train_time_point_4, how='outer', on=['PatientID', 'Date'])
machine_learning.set_target_column_in_df(df_experimental, df_target_train, 'PatientID', 'subject_id', 'dod')

## Set PyCaret experiment

In [5]:
# Setup
exp = ClassificationExperiment()
exp.setup(df_experimental, target='target', train_size=0.8, fold_strategy=StratifiedGroupKFold(), fold_groups='PatientID', fold=5)

In [6]:
# Create model
model = exp.create_model('xgboost')

In [7]:
# Tune model
tuning_grid = {'max_depth': [5, 6, 7, 8],
               'n_estimators': [200, 300],
               'learning_rate': [0.3, 0.1, 0.05]
               }
model = exp.tune_model(model, custom_grid=tuning_grid, optimize='Accuracy')

Fitting 5 folds for each of 10 candidates, totalling 50 fits

## Predict Holdout set values

In [8]:
# Read holdout CSV data from static
df_holdout_time_point_1 = pd.read_csv('static/holdout_time_point_1.csv')
df_holdout_time_point_2 = pd.read_csv('static/holdout_time_point_2.csv')
#df_holdout_time_point_3 = pd.read_csv('static/holdout_time_point_3.csv')
df_holdout_time_point_4 = pd.read_csv('static/holdout_time_point_4.csv')
df_target_holdout = pd.read_csv('static/pred_holdout.csv')

In [9]:
# Create holdout dataframe
df_holdout = pd.merge(df_holdout_time_point_1, df_holdout_time_point_2, how='outer', on=['PatientID', 'Date'])
#df_holdout = df_holdout.merge(df_holdout_time_point_3, how='outer', on=['PatientID', 'Date'])
df_holdout = df_holdout.merge(df_holdout_time_point_4, how='outer', on=['PatientID', 'Date'])
machine_learning.set_target_column_in_df(df_holdout, df_target_holdout, 'PatientID', 'subject_id', 'dod')

In [12]:
# Prediction
# Hidden cell to preserve data confidentiality
# exp.predict_model(model, data=df_holdout, raw_score=True)